* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.center {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  /* nesse caso aqui força o formi fica aliado */
}

.main { 
  padding: 40px 0;
  width: 100%;
  background: rgb(59, 55, 63);
  min-height: 400px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu a {
  color: rgb(76, 150, 150);
  border: 1px solid;
  padding: 3px 8px;
  border-radius: 5px;
  text-decoration: none;
}
.logo h3 {
  color: white;
}
.form {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.form h2 {
  color: white;
  text-transform: uppercase;
  font-weight: normal;
}
.items-form {
  margin:  0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.items-form input[type=text] {
  width: 48%;
  height: 30px;
  margin: 8px 0px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  
}
.items-form input[type=submit] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: rgb(76, 150, 150);
  cursor: pointer;
  color: white;
  font-size: 19px;
}

.conteudo-text {
  width: 50%;
  margin-top: 40px;
  padding: 8px 30px;

}
@media screen and (max-width: 768px) {
  .items-form input[type=text]{
    width: 100%;
  }
  .conteudo-text{width: 100%;}
  
}